<form method="POST" action="/new">
    <label> Name
        <input name="name" placeholder="who dis" />
    </label>
    <label> Message
        <input name="message" placeholder="wats good" />
    </label>
    <button type="submit">Send</button>
</form>